@font-face {
    font-family: "Creepy";
    src: url("../fonts/Creepy.woff") format("woff"), url("../fonts/Creepy.woff2") format("woff2");
}

@font-face {
    font-family: "Lunacy";
    src: url("../fonts/Lunacy.woff") format("woff"), url("../fonts/Lunacy.woff2") format("woff2");
}

body {
    background-image: url("../imgs/bg.gif");
    /* background-repeat: no-repeat;
    background-size: 100%; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-size: large;
}

.containimgs img,
.effetBtn {
    cursor: pointer;
}

.resultat {
    color: #FF0000;
    font-family: Creepy, serif;
    font-weight: normal;
    text-align: center;
    font-size: 50px;
}

.game-info {
    font-weight: bold;
    color: #8640b4 !important;
    font-size: 30px;
}

.containimgs img:hover {
    transform: rotate(3deg);
}

.effetBtn {
    outline: none;
    text-align: center;
    width: 30%;
    height: 50px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #724ca3;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 30px;
    color: #724ca3;
    font-weight: bold;
    margin-top: 10px;
}

.effetBtn:hover {
    background: #C9A7F4;
    border: 2px solid #713FB1;
    color: #412368;
}

.title {
    width: 70% !important;
}

@media only screen and (max-width: 768px) {
    img {
        height: 500px;
        /* margin: 0 auto; */
    }
}

@media only screen and (max-width: 992px) {
    .containimgs,
    .game-info {
        width: 94%;
        margin: 0 auto;
    }
    .title {
        width: 250px;
    }
}

@media only screen and (min-width: 993px) {
    .containimgs,
    .game-info {
        width: 60%;
        margin: 0 auto;
    }
    .title {
        width: 250px !important;
    }
    .effetBtn,
    .game-info {
        font-size: 20px;
    }
}